/* removing defauld margind padding and set font family */
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
/* setting up section margin */
section {
  margin: 0 8%;
}

/* Nav Section Start */
nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
nav ul {
  display: flex;
  gap: 10%;
  margin: 23.5px 0;
}

nav ul li {
  list-style: none;
}
nav ul li a {
  font-family: "Arimo", sans-serif;
  text-decoration: none;
  color: #575757;
}
.btn {
  border: none;
  background-color: #1d4ed8;
  height: 56px;
  width: 192px;
  border-radius: 12px;
  padding: 4px;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
/* nav ends here */

/* Hero Starts Here */
/* since we did'nt learn linear-gradient so i just use "linear-gradient(
      to top right,
      rgba(0, 0, 0, 0.95),
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0)
    ) " this from gemini and here is my prompt " I want to use black linear-gradient in my background image on left side and bottom-left corner so give me the linear-gradient and remember that I have already set my background-image " */
.hero-bg {
  background-image:
    linear-gradient(
      to top right,
      rgba(0, 0, 0, 0.95),
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0)
    ),
    url(./banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  display: flex;
  justify-content: center;
}

.hero-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
}
.hero-main h1 {
  font-size: 5rem;
  font-weight: bold;
  font-style: italic;
  margin-top: 136px;
}
.hero-main p {
  font-size: 1.3rem;
  margin: 16px 0 300px 0;
  max-width: 829px;
  width: 100%;
}
/* hero ends here */

/* Meet The Speakers Section Starts Here */
.meet-the-speaker {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.meet-the-speaker h1 {
  margin: 50px;
  font-size: 3.5rem;
  font-weight: bold;
}
.mts-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 900px;
  margin: auto;
}
.mts-card img {
  height: 100%;
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.mts-card {
  border-radius: 20px;
  border: 1px solid #e5e7eb;
  text-align: left;
}
.mts-card p {
  padding: 5px;
  margin-left: 20px;
}
.working-dept {
  color: #2563eb;
  font-size: 12px;
  font-weight: 600;
}
.speakers-name {
  color: #0d1b2a;
  font-size: 20px;
  font-weight: bold;
}
.wplace {
  color: #575757;
  font-size: 14px;
}
/* Meet The Speakers Section Starts Here */

/* Pricing section */

.pricing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}
.pricing h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}
.pricing p {
  font-size: 16px;
  margin-bottom: 30px;
}

.pricing-content {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.pricing-card {
  display: flex;
  flex-direction: column;
  height: 444px;
  width: 300px;
  border: 1px solid black;
  padding: 30px;
  border-radius: 12px;
  background-color: #ffffff;
}
.pricing-card-dark {
  display: flex;
  flex-direction: column;
  min-height: 444px;
  width: 300px;
  border: 1px solid black;
  padding: 30px;
  border-radius: 12px;
  color: white;
  background-color: #0d1b2a;
}
.pricing-card ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  margin-left: 15px;
}
.pricing-card-dark ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  margin-left: 15px;
}
/* Dear Mentors i goolge it how to change ul list item bullet color and learnt it from https://www.w3schools.com/howto/howto_css_bullet_color.asp */
ul li::marker {
  color: #2563eb;
}
.usdt {
  font-weight: bold;
  font-size: 44px;
  margin-top: 10px;
}
.plan {
  font-size: 13px;
  color: #888888;
}
.plan-dark {
  font-size: 13px;
  color: #93c5fd;
}
.per-person {
  font-size: 13px;
  color: #888888;
  margin-bottom: 30px;
}
.price-btn {
  margin-top: 30px;
  height: 48px;
  border-radius: 12px;
  background-color: #ffffff;
  color: #2563eb;
  border: 1px solid #2563eb;
  cursor: pointer;
}
.price-btn-dark {
  margin-top: 30px;
  height: 48px;
  border-radius: 12px;
  background-color: #2563eb;
  color: #ffffff;
  border: 1px solid #2563eb;
  cursor: pointer;
}
